<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPomEC_H11x1mIEZ5UVvJEc_NhHCBYEu8</string>
	<key>GCM_SENDER_ID</key>
	<string>308090552095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.flutterseoul.fluttalk</string>
	<key>PROJECT_ID</key>
	<string>fluttalk</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308090552095:ios:2cf734ed36739beee8ba2a</string>
</dict>
</plist>